main {
    padding: 1em;
  }
  
  .table-wrapper {
    overflow: auto;
    max-width: 100%;
  }
  
  tr {
    border-bottom: 1px solid;
  }
  
  th {
    background-color: rgb(70, 190, 190);
    color: rgb(10, 41, 3);
    white-space: nowrap;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5em 1em;
  }
  
  .numeric {
    text-align: right;
  }
  
  p {
    text-align: right;
    margin-top: 1em;
    font-style: italic;
  }

  form {
  font: 1em sans-serif;
}

.register_img{
  border-radius: 50%;
  border: 10px dashed rgb(78, 165, 43);
  box-shadow:
    0 0 30px 15px #fff,  /* inner white */
    0 0 25px 15px rgb(108, 185, 126), /* middle magenta */
    0 0 0px 0px rgb(91, 148, 148); /* outer cyan */
}

.flash_body{
  position: fixed;
  top: 25px;
  right: 25px;
  width: 350px;
  padding: 20px 25px 20px 85px;
  font-size: 16px;
  font-weight: 400;
  color: green;
  background-color: #FFF;
  border: 2px solid green;
  border-radius: border-radius;
  box-shadow: 0 2px 5px rgba(100, 218, 176, 0.25);
  opacity: 0.7;
}

.profile-img{
  border-radius: 50%;
}

.login_card{
  margin: 70px;
}

.header_img{
  margin-left: 900px;
}